<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>

<div class="row mt-3">
  <div class="col col-md-3">
    <div class="card">
      <div class="card body">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">INICIOS</div>
          <div class="card-body">
            <h5 class="card-title">Primera administración</h5>
            <p class="card-text">El CCTL inicia la misión de enseñar a jovenes emprendedores del area técnica bajo el
              mando del... que dirigió la institución con fervor y dignidad hasta el año ... en donde se retira tras
              haber cumplido los años de trabajo requeridos.</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header">ANTECEDENTES</div>
          <div class="card-body">
            <h5 class="card-title">Apoyando el progreso</h5>
            <p class="card-text">Desde el inicio de la exposición de proyectos denominada "Expotecnica CCTL" la
              en el año 2000 la institución ha presentado al público mas de 500 proyectos innovadores en las areas de
              electrónica y electricidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-md-5 text-center">
    <div class="mx-auto" style="width: 900px;">
      <h1 style="color: blue;">HISTORIA DEL CENTRO DE CAPACITACIÓN TÉCNICA DE LUQUE</h1>
      <p style="text-align: justify;">El Centro de Capacitación Técnica de Luque es una institución de gestión oficial,
        fue
        fundado el 20 de noviembre del año 1989, esta ubicado entre las calles Mcal Sucre y La Paz. 4to Barrio de la
        ciudad de Luque.
        Las actividades académicas fueron iniciadas en el mes de febrero del año 1990 con un total de 50 alumnos en el
        turno mañana, en la modalidad de Básico Técnico, en las especialidades de Electricidad y Electrónica.
        Otros 50 alumnos en el turno tarde que cursaban solo el plan diferenciado (actualmente plan específico) cuyo
        requisito era tener concluido el básico.
        En el año 1993 se implementó en el turno tarde la modalidad de Bachillerato Técnico Industrial, en ambas
        especialidades, contando con 50 alumnos.
        En el año 1999 se implementó la modalidad de Bachillerato Técnico Industrial en ambos turnos y se cerró la
        modalidad de Básico Técnico a raíz de la Reforma Educativa, pasando el Centro de Capacitación Técnica de Luque a
        formar parte del nivel Medio
        Actualmente cuenta con 330 alumnos distribuidos en el turno mañana y tarde, en las especialidades de
        Electricidad y Electrónica.</p>

      <p style="text-align: justify;"> Esta institución cuenta con Título de Propiedad, con Resolución Nº 1990 de fecha
        30 de agosto de 1994 por la
        cual se reconoce la implementación de planes y programas del estudio del bachillerato Técnico Industrial en las
        especialidades de Electrónica y Electricidad, Resolución Nº 592 de fecha 18 de noviembre de 2009 por la cual se
        reconoce la apertura y funcionamiento del Centro de Capacitación Técnica de Luque y la habilitación del primer,
        segundo y tercer curso de la Educación Media del Bachillerato Técnico de Electrónica y Electricidad en los
        turnos mañana y tarde.
        Cuenta con Resolución de nombramiento de la Directora General y de la Secretaria General.
        Cuenta con la conformación de los siguientes ESTAMENTOS: Equipo de Gestión Institucional (EGIE), compuesto por
        la Directora como Presidenta, Representante Docente, Representante de ACE, Representante de Centro de
        Estudiantes y otros actores quienes son integrantes del Equipo Directivo, Asociación Cooperadora escolar de
        Padres (ACE), Centro de Estudiantes, Consejo de Delegados de estudiantes y de Delegados de Padres y Asociación
        de Funcionarios
      </p>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="card border-primary mb-3" style="max-width: 40rem;">
    <div class="card-body text-primary">
      <h5 class="card-title">UN HOMENAJE A LA PATRIA</h5>
      <p class="card-text">El CCTL realiza una formación diaria en donde se realizan las ceremonias de la entonación del
        himno nacional y el izamiento de la bandera para así fomentar el patriotismo nacional en los jóvenes
        estudiantes.</p>
    </div>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 40rem;">
    <div class="card-body text-secondary">
      <h5 class="card-title">PRESERVANDO LA HISTORIA</h5>
      <p class="card-text">El CCTL posee un enfoque tradicionalista, reflejándose en el uniforme de gala con el
        auténtico ao po'i y la participación ininterrumpida en los desfiles nacionales por la independencia nacional del
        14 de mayo</p>
    </div>
  </div>
</div>

<h1 style="color: black; text-align: center;">MOMENTOS HISTÓRICOS DEL CENTRO DE CAPACITACIÓN TÉCNICA DE LUQUE
</h1>

<div class="card-deck">
  <div class="card">
    <img src="img/historia/hist1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">KOIKA INAGURA AULA MULTIMEDIA</h5>
      <p class="card-text">En el año 2020 el CCTL en conjunto con la KOIKA (Agencia de Cooperación Internacional de
        Corea) inaguran un aula muntimedia completamente equipado con equipo de última tecnología para el desarrollo de
        diseño gráfico y dibujo técnico.</p>
    </div>
  </div>
  <div class="card">
    <img src="img/historia/hist2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">CALIFICACIóN 5 EN CALIDAD EDUCATIVA</h5>
      <p class="card-text">Tras 5 años de focalización de la infraestructura y calidad educativa el CCTL obtiene la
        calificación 5 siendo uno de los 18 colegios lideres en educación media.</p>
    </div>
  </div>
  <div class="card">
    <img src="img/historia/hist3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">30 AÑOS FORMANDO JOVENES</h5>
      <p class="card-text">El 20 de noviembre del 2019 el CCTL cumple 30 años de la formación de jovenes en electrónica
        y electricidad tras un arduo camino de lucha y victoria.</p>
    </div>
  </div>
</div>

<%- include('pie') -%>