<div class= pie>
    <i class="fas fa-copyright"> Centro de Capacitación Técnica de Luque</i>
    <i class="fas fa-map-marker-alt"> Mcal. Sucre y La Paz</i>
    <i class="fas fa-phone-alt"> 021 643 411</i>
</div>